footer {
    padding: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffb5d7;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
